/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
$font-size: 16px;
@function em($px, $base: $base-font-size){
	@return ($px / $base) * 1em;
}

@font-face {
  font-family: 'centennial';
  src: url('fonts/centennial.eot'); /* IE9 Compat Modes */
  src: url('fonts/centennial.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/centennial.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/centennial.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/centennial.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/centennial.svg#centennial') format('svg'); /* Legacy iOS */
}

$dreamFont: "centennial",serif;//minion-pro
$sansFont: "Verlag A", "Verlag B", sans-serif;//proxima-nova

$fontColor: #231f20;
$secondaryColor: #e7f9fc;
$color3: #2a2a2a; //Charcoal
$linkColor: #35c1d8; //blue
