/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
$font-size: 16px;
@function em($px, $base: $base-font-size){
	@return ($px / $base) * 1em;
}

$dreamFont: "minion-pro";
$sansFont: "proxima-nova",sans-serif;

$fontColor: #231f20;
$secondaryColor: #e7f9fc;
$color3: #2a2a2a; //Charcoal